[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy
[submodule "themes/Flex"]
	path = themes/Flex
	url = git@github.com:alexandrevicenzi/Flex.git
