doctype html
html(lang='en')
  head
    block title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(property='og:title', content='Lorem Ipsum')
    meta(property='og:image', content='https://www.traimmu.com/images/logo.jpg')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='Lorem Ipsum')
    meta(name='twitter:description', content='Lorem Ipsum')
    meta(name='twitter:image', content='https://www.traimmu.com/images/logo.jpg')

    link(href='./loader.css', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')

    script.
      window.addEventListener('load', function() {
        setTimeout(function() {
          var cover = document.getElementById('js-loader-cover');
          cover.parentNode.removeChild(cover);
        }, 500);
      }, false);
  body
    #js-loader-cover.loader-window-cover
      .loader loading...
    nav.navbar#js-navbar
      .container
        ul
          li.navbar-item
            a.navbar-link(href='/')
              // 後でこれ調整する サイズとか文字とか
              img.navbar-image(src='./images/logo.jpg')
        button.navbar-right.u-hamburger(@click='toggleDropdown')
          span.u-hamburger-text(:class='{"is-active": dropdownOpened}') toggle menu
        ul.navbar-dropdown(v-if='dropdownOpened')
          li.navbar-dropdown-item
            a.navbar-link(href='#') Menu
        ul.navbar-right.navbar-horizontal
          li.navbar-item
            a.navbar-link(href='#') Menu
    block content
